body{
  background-color: black;
  color: white;
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 18px;
  font-family:cursive;
}
h1{
  margin-left: 280px;
}
input{
  margin-left: 37%;
  margin-top: 10px;
  height: 20px;
  width: 300px;
  border: 3px solid blue;
}
button{
  margin-left: 45%;
  margin-top: 10px;
  border-radius: 2px;
  border-color: green;
  background-color: black;
  font-size: 15px;
  color: green;
}
.sunmit{
  margin-left: 50%;
}
p{
  margin-left: 20px;
}

body {

  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  
}
